<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;800&display=swap" rel="stylesheet">
<link href="/css/regist.css" rel="stylesheet">
</head>
<body>
        <div class="container-fluid" style="background-image: url(https://images.unsplash.com/photo-1540202404-d0c7fe46a087?q=80&w=2233&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D); background-size: cover; background-position-x: center; height: 100vh;">
            <div class="row">
            <div class="col-sm-6" style=" display: flex; align-items: self-start; justify-content: center; background-color: rgba(255, 255, 255, 0.087); height: 100vh;">
                <div class="container" id="container0" style="margin-top: 5rem;">
                <h1 style="padding-top: 5rem; padding-bottom: 2rem; font-weight: 900; color: rgb(107, 69, 161);">CREATE YOUR JOURNEY WITH WANDERLY</h1>
                <h5 style="color: rgb(107, 69, 161); font-weight: 900; text-transform: capitalize;">Take a breath and enjoy the nature</h5>
                </div>
            </div>
            <div class="col-sm-6" style="background-color: rgba(1, 1, 1, 0.121); height: 100vh; display: flex; align-items: center;">
                <div class="container" id="container1" style="background-color: rgba(255, 255, 255, 0.342); height: 82vh; width: 60%; border-radius: 10px; margin-top: 5rem;">
                <h2 style="font-size: larger; font-weight: 700; text-align: center; color: rgb(107, 69, 161); padding-top: 1rem;">REGISTER</h2>
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" class="form-control" id="username" autocomplete="username" placeholder="max char 25">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" placeholder="max char 25">
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" autocomplete="email" placeholder="max char 25">
                </div>
                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" class="form-control" id="name" autocomplete="name" placeholder="max char 35">
                </div>
                <div class="mb-3">
                    <label for="city" class="form-label">City</label>
                    <input type="text" class="form-control" id="city" autocomplete="address-line1"">
                </div>
                <div class="mb-3">
                    <label for="bday" class="form-label">Birthday</label>
                    <input type="date" class="form-control" id="bday" autocomplete="bday-day">
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="gender" id="gender" value="male">
                    <label class="form-check-label" for="gender">
                    Male
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="gender" id="gender" value="female">
                    <label class="form-check-label" for="gender">
                    Female
                    </label>
                </div>
                <div class="container"  id="container2" style="display: flex; justify-content: space-between; margin-top: 1rem;">
                    <button class="btn" style="background-color: rgb(107, 69, 161); color: #fff;" type="button" onclick="myRegist()">submit</button>
                <a class="btn" style="background-color: rgb(107, 69, 161); color: #fff;" href="/login" role="button">login</a>
                </div>
                </div>
            </div>
            </div>
        </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        async function toLogin(){
            window.location.href = '/login'
        }
        async function myRegist(){
            console.log("register")
            let username = document.getElementById("username").value
            let password = document.getElementById("password").value
            let email = document.getElementById("email").value
            let name = document.getElementById("name").value
            let city = document.getElementById("city").value
            let bday = document.getElementById("bday").value
            let gender = document.getElementById("gender").value
            axios.get('http://localhost:8082/user/submit_register?username='+username+'&password='+password+'&email='+email+'&name='+ name+'&city='+city+'&bday='+bday+'&gender='+gender).then(function (response) {
                console.log("response", response)
                if(response.data.status == 'success'){
                    window.location.href = "<%= base_url %>"
                }else{
                    console.log(gender);
                    Swal.fire({
                        icon: 'error',
                        title: 'opps...',
                        text: response.data.display_message, 
                    })
            }
        })
    }
    </script>
</body>
</html>